body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
}

canvas{
    background: #000;
    display: block;
    margin: auto;
}

.button-container {
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
}

#predict-button, #clear-button {
    background: #333;
    color: #fff;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 15px;
    border: none;
}

#predict-button:hover, #clear-button:hover {
    background: lime;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden; /*theres no scroll bar even if sth goes out of its container*/
}

#main-header {
    background: coral;
    color: #fff;
}

#navbar {
    background: #333;
    color: #fff;
}

#navbar ul {
    padding: 0;
    list-style: none; /* Gets rid of bullet points */
}

#navbar li {
    display: inline; /* Make the items appear in one row*/
}

#navbar a{
    color: #fff;
    text-decoration: none; /* Removes the underline from a link */
    padding-right: 15px;
}

#showcase h1{
    text-align: center;
}
